*{
    font-family:"Futura", monospace;
    font-size: large;
    font-style: normal;
    letter-spacing: 3pt;
    line-height: 30pt;
    color: snow;
}

.body{
    background-color: slategrey;
    padding: 5px;
}

.page-header{
    background-color: snow;
    color: slategrey;
    padding: 20pt;
    font-size: xx-large;
    margin: 10pt;
    margin-bottom: 30pt;
    border-radius: 10pt 10pt 10pt 0pt;
}
.liste{
    line-height: 40pt;
}